@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared Styles */

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.light-gray-text {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Header section */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 0 240px;
}

/* Navigation section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

/* Banner section */

.banner {
    text-align: center;
}

.banner-img {
    margin-top: 50px;
    width: 100%;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}

.banner-description {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Features section */

.features-container {
    display: flex;
    padding: 0 240px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
}

.features-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-img {
    width: 300px;
}

.features-container .section-title {
    margin-bottom: 20px;
}

.features-container .light-gray-text {
    margin-bottom: 20px;
    width: 450px;
}

/* Experience section */

.experience-container {
    display: flex;
    padding: 0 240px;
    padding-right: 150px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.architect-img {
    width:600px;
    margin: 0 40px;
}

.experience-container .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-cards-container .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    margin: 20px 0;
}

.experience-badge {
    border-radius: 8px;
    background: #FF900E;
    padding: 25px 30px;
    color: #FFF;
    text-align: center;
    width: 240px;
    position: relative;
    bottom: 100px;
    right: 20px;
}

.experience-title-1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.experience-title-2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;    
}

/* Some facts section */

.some-facts {
    padding: 0 240px;
}

.some-facts .section-title {
    margin-bottom: 20px;
}

.some-facts .light-gray-text {
    margin-bottom: 80px;
    width: 540px;
}

.facts-cards-container {
    display: flex;
    justify-content: space-around;
}

.facts-cards-container .card {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.our-sponsors {
    text-align: center;
    padding: 0 240px;
    margin-top: 80px;
}

.our-sponsors .section-title {
    margin-bottom: 20px;
}

.our-sponsors .light-gray-text {
    width: 500px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.logo {
    width: 160px;
}

/* Footer section */

footer {
    margin: 0 240px;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 20px 200px;
    margin-bottom: 50px;
}

.footer-text {
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    nav,
    nav > ul,
    .features-container,
    .experience-container,
    .facts-cards-container,
    .logo-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    header,
    .features-container,
    .experience-container,
    .some-facts,
    .our-sponsors {
        padding: 0 20px;
    }

    .features-img-container {
        grid-template-columns: 1fr;
    }

    .features-container .light-gray-text {
        width: 250px;
        margin: 20px auto;
    }

    .experience-badge {
        position: static;
        margin: 0 auto;
    }

    .architect-img {
        width: 100%;
        margin: 0;
    }

    .some-facts .light-gray-text {
        width: 100%;
    }

    .facts-cards-container {
        align-items: center;
    }
    
    .logo-container {
        align-items: center;
    }

    .our-sponsors .light-gray-text {
        width: 100%;
    }

    footer {
        margin: 20px 20px;
        padding: 20px 20px;
    }

    .footer-text {
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    .features-container,
    .experience-container,
    .logo-container {
        flex-direction: column;
    }

    header,
    .some-facts,
    .features-container,
    .experience-container,
    .our-sponsors {
        padding: 0 50px;
    }

    .features-img {
        width: 200px;
    }

    .facts-cards-container .card {
        width: 100px;
    }

    .logo-container {
        align-items: center;
        gap: 20px;
    }

    footer {
        margin: 20px 50px;
    }
}